@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SchoolApp.Entity.User

@if (ViewBag.ErrorMessage != null)
            {
    <div class="alert alert-danger" role="alert">
        <button class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <strong>Opps! </strong>
        @ViewBag.ErrorMessage
    </div>
}
    @*@if (ViewBag.SuccessMessage != null)
                    {
            <div class="alert alert-success" role="alert">
                <button class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>!</strong>
                @ViewBag.SuccessMessage
            </div>
        }*@

    @using (Html.BeginForm("Register", "Login", null, FormMethod.Post, new { @class = "form-3" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        <div class="panel-body">
            <div class="row form-group">
                @Html.Label("New User Registration",new { Style= "width:100%;padding-left: 20%;" })
            </div>
        
            <div class="clearfix"></div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <div class="row">

                        @Html.LabelFor(m => m.UserName, new { @class = "control-label align-left pt7" })


                        <div>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-group" })
                        </div>
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <div class="row">

                        @Html.LabelFor(m => m.Password, new { @class = "control-label align-left pt7" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-group" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <div class="row">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label align-left pt7" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-group" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
            <input type="submit" id="btnSubmit" name="btnSubmit" value="Submit" class="btn btn-primary pull-right" />

    }
